<web-app>



	<servlet>
		<servlet-name>tamaire</servlet-name>
		<servlet-class>TamaireThread</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>tamaire</servlet-name>
		<url-pattern>/tamaire</url-pattern>
	</servlet-mapping>
	
	
		
	<servlet>
		<servlet-name>list</servlet-name>
		<jsp-file>/listoutput.jsp</jsp-file>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>tuyoi</servlet-name>
		<jsp-file>/tuyoi.jsp</jsp-file>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>tuyoi</servlet-name>
		<url-pattern>/tuyoi</url-pattern>
	</servlet-mapping>
	
	
	
	
</web-app>