<web-app>



	<servlet>
		<servlet-name>tamaire</servlet-name>
		<servlet-class>TamaireThread</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>tamaire</servlet-name>
		<url-pattern>/tamaire</url-pattern>
	</servlet-mapping>
	
	
		
	<servlet>
		<servlet-name>res</servlet-name>
		<jsp-file>/resoutput.jsp</jsp-file>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>res</servlet-name>
		<url-pattern>/res</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>thread</servlet-name>
		<jsp-file>/threadlistoutput.jsp</jsp-file>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>thread</servlet-name>
		<url-pattern>/threadlistoutput</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TList</servlet-name>
		<servlet-class>ThreadList</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>TList</servlet-name>
		<url-pattern>/tlist</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Create</servlet-name>
		<servlet-class>CreateThreadServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>Create</servlet-name>
		<url-pattern>/Create</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/home.jsp</jsp-file>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
</web-app>